
<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/upload.js"></script>
    <script src ="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/upload.css">
</head>
<body>
<form id="file_chooser" action="/upload" enctype="multipart/form-data" method="post">
    <input id="special" type="file" name="user_file"/>
    <input class="submit" type="submit" value="Upload"/>
</form>
<ul id="file_uploader">
    <li>
        <div id="picker">
            <select name="share" id="friend_chooser" multiple="multiple">
                <optgroup label="Friends">
                    <option class="friends" value="user-1">user-1</option>
                </optgroup>
            </select>
        </div>
        <button id="right">>></button>
    </li>
    <li>
        <div id="choices">
            <select id="targets" multiple="multiple"></select>
        </div>
        <button id="left"><<</button>
    </li>
</ul>
</body>
</html>
