<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <form action="/upload" enctype="multipart/form-data" method="post">
          <input type="file" name="user_file"/>
          <input type="submit" value="Upload"/>
      </form>
  </body>
</html>