<h1><%= title %></h1>
<ul class="message">
<% if (err.path) { %>
  <li>Cannot find your request for <%= err.path %></li>
<% } else { %>
  <li>Something is wrong with your server.</li>
<% } %>
</ul>
<p><a href="/topics">Top</a></p>
