<h1><%= title %></h1>
<ul class="message">
<% if (err.path) { %>
  <li>Cant't find your request for <%= err.path %></li>
<% } else { %>
  <li>There was an unforeseen problem. I'm sorry for the inconvenience.</li>
<% } %>
</ul>
<p><a href="/topics">Top</a></p>
