<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Share Ninja: <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="/javascripts/dropDown.js"></script>
  </head>
  <body>
    <div id="wrap" class="box_effect">
      <header>
        <div>
          <h1><a href="/topics">Share Ninja</a></h1>
          <div id="side">
            <%- username_or_login %>
          </div>
          <div id="dropdown">
              <dt id="m1-ddheader" onmouseover="ddMenu('m1',1)" onmouseout="ddMenu('m1',-1)">MENU</dt>
              <dd id="m1-ddcontent" onmouseover="cancelHide('m1')" onmouseout="ddMenu('m1',-1)">
                <ul>
                    <li><a href="/topics/profile">PROFILE</a></li>
                    <li><a href="/upload">UPLOAD</a></li>
                    <li><a href="userSearch">FRIENDS</a></li>
                    <li><a href="notifications">NOTIFICATIONS</a></li>
                    <li><a href="forum">FORUM</a></li>
                </ul>
              </dd>
            </div>

      </div>
      </header>
      <%- body %>
    </div>
  </body>
</html>
