<html>
<body>
<h1 style = font-size:30px>
<%= title %>
</h1>

<ul>
	
	<% for(var i=Notifications.length-1; i>=Math.max(0,Notifications.length-10); i--) { %>
        <li>
            <p>* You got: <%= Notifications[i].type %> notification from
			<%= Notifications[i].username %> at <%= Notifications[i].created_at %> </p>  
        </li>
    <% } %>
</ul>
</body>
</html>

