<div id="auth_form" class="clear">
  <p id="pagetitle">
    <h1><%= title %></h1>
  </p>
  <div id="contents" class="clear">
  <form id="login" action="/newPass" method="post" class="box_effect">
      <%- message('passError') %>
      <div class="inputs">
        <p><label for="changeNew_username">Username</label></p>
        <p><input id="changeNew_username" type="text" name="username"
                  size="30" placeholder="username"></p>
        <p><label for="changeNew_password">New password</label></p>
        <p><input id="changeNew_password" type="password" name="password"
                  size="30" placeholder="Old password"></p>
         <p><label for="changeNew_password">Confirmation password</label></p>
        <p><input id="changeNew_password" type="password" name="password2"
                  size="30" placeholder="New password"></p>
        <p><input type="submit" class="newpost" value="Submit"></p>
      </div>
  </form>
</div>
</div>
