<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/upload.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/clientforum.js"></script>
</head>
<body onload = "init()">
<div id="contents" class="clear">
  <p id="pagetitle">
    <h1>Message Board</h1>
  </p>
  <div id="contents" class="clear">
  <form id="login" action="/addMsg" method="post" class="box_effect" onsubmit="emit()">
      <%- message('passError') %>
      <div class="inputs">
        <p><label for="add_friend">Post message below</label></p>
        <p><input id="add_friend" type="text" name="theMsg"
                  size="30" placeholder="Message"></p>
        <p><input type="submit" class="newpost" value="Post Message"><script</p>
      </div>
  </form>
  <% messages.forEach(function(msgObj){ %>
      <br><section class="box_effect"><strong>From: <%= msgObj.username %><br>Date posted: <%= msgObj.date %></strong><br><%= msgObj.message %></section></br>
  <% }) %>
  
  <p>See more forum posts</p>
  <p class="move_top"><a href="#wrap">move top</a></p>
  </div>
</div>

 
  