<div id="auth_form" class="clear">
<form id="oldPassword" action="/topics/changeToNewPassword" method="post" class="box_effect">
    <h2>Change password</h2>
    <%- message('passErr') %>
    <div class="inputs">
      <p><label for="register_password">New password</label></p>
      <p><input id="register_password" type="password" name="password"
                size="30" placeholder="new"></p>
      <p><label for="register_password2">Confirmation password</label></p>
      <p><input id="register_password2" type="password" name="password2"
                size="30" placeholder="confirmation"></p>
      <p><input type="submit" class="newpost" value="Change now"></p>
    </div>
</form>
</div>
