<div id="auth_form" class="clear">
  <p id="pagetitle">
    <h1><%= title %></h1>
  </p>
    <div id="contents" class="clear">
        <div id="friend_wrap">
            <div id="sidebar">Friends</div>
            <div id="content">first friend</div>
         </div>
            <div id="group_wrap">
            <div id="sidebar2">Groups</div>
            <div id="content2">first group</div>
        </div>​
        <div id="fileImage">
        	<div id="firstFile">File1</div>
        	<div id="secondFile">File2</div>
        </div>
    </div>
</div>