<div id="auth_form" class="clear">
  <p id="pagetitle">
    <h1><%= title %></h1>
  </p>
<div id="files_and_lists">
    <div class="fileImage">
        <a href="/upload"><img border="0" src="../fileFolder.jpg" width="100" height="100" position="top">
        <div id="firstFile">Upload</div></a>
        <div id="blank"> blank </div>
        <a href="/upload"><img border="0" src="../fileFolder.jpg" width="100" height="100" position="top">
        <div id="secondFile">DummyDoc</div></a>
    </div>
    <div class="friends_groups_list">
        <ul>
            <li><div id="Title">Friends</div></li>
            <li><div id="list_content">Mayu Kudo</div></li>
            <li><div id="list_content">Nick Hawwaawawa</div></li>
            <li><div id="list_content">Chris Paika</div></li>
            <li><div id="list_content">David Itkin</div></li>

            <li><div id="blankSpace"> blank</div></li>
            <li><a href="userSearch"><div id="List">Add Friend</div></a></li>
            <li><div id="blankSpace"> blank</div></li>

            <li><div id="Title">Groups</div></li>
           <li><div id="list_content">JSNinja</div></li>

           <li><div id="blankSpace"> blank</div></li>
           <li><a href="userSearch"><div id="List">Create Group</div></a></li>
         </ul>
    </div>
</div>
</div>