<div id="auth_form" class="clear">
  <p id="pagetitle">
    <h1><%= title %></h1>
  </p>
  <div id="contents" class="clear">
  <section class="box_effect">
      <div>
        <h1>Username</h1>
        <p><label for="input_title"><%- username %></label></p>
      </div>
      <div>
        <h1>Password</h1>
        <a href="../lib/changePassword">Change password</a>
  </section>
  <p class="move_top"><a href="#wrap">move top</a></p>
</div>

</div>